Package: mxterm
Version: 129
Section: x11
Priority: optional
Architecture: i386
Depends: libc6 (>= 2.3.2.ds1-4), libice6 | xlibs (>> 4.1.0), libmotif3, libncurses5 (>= 5.4-1), libsm6 | xlibs (>> 4.1.0), libx11-6 | xlibs (>> 4.1.0), libxaw7 (>> 4.1.0), libxext6 | xlibs (>> 4.1.0), libxmu6 | xlibs (>> 4.1.0), libxp6 | xlibs (>> 4.1.0), libxpm4 | xlibs (>> 4.1.0), libxt6 | xlibs (>> 4.1.0), base-passwd (>= 2.0.3.4), libmotif3, libxaw7, xterm
Provides: x-terminal-emulator
Installed-Size: 300
Maintainer: Greg Schenzel <inittab@netizenweb.com>
Description: xterm, VT52, tek4014 terminal emulator in Motif
 Color xterm replacement based on Motif for the X Window System.
